<h1>Peter Arriola pictures</h1>
<%= link_to 'Add a New Picture', new_picture_path %>

<table>

<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.title %></td>
    <td><%= image_tag picture.url, :size => "200x200" %></td>
    <td><%= link_to 'Show', picture %></td>
   
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Picture', new_picture_path %>
