<h1>Enter a New picture</h1><br>

<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
            <h3><%= f.label :buttontype, "*Title of Picture" %></h3>
                    <p class="help-block">What is this a picture of</p>
            <%= f.text_field :title, :size => 80 %><p>
  </div>
  <div class="field">
            <h3><%= f.label :buttontype, "*URL to Picture" %></h3>
                    <p class="help-block">Copy the URL of a picture you'd like to include in this collection</p>
            <%= f.text_field :url, :size => 80 %><p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<br><%= link_to 'See all pictures', pictures_path %>
